<ion-header>

  <ion-navbar color="primary">
    <ion-title>Favorit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="favorites?.length > 0">
    <ion-item *ngFor="let favorite of favorites">
      <ion-thumbnail item-start>
        <img src="{{imgBaseUrl}}/{{favorite.img_url}}">
      </ion-thumbnail>
      <h2 text-wrap>{{favorite.product_name}}</h2>
      <p text-wrap>
        {{favorite.category_name}} <br> 
        {{favorite.formatted_price }}
      </p>
      <button ion-button clear item-end (click)="qtyPrompt(favorite.product_id)">Beli</button>
      <button ion-button clear item-end color="danger" (click)="removePrompt(favorite.favorite_id)">Hapus</button>
    </ion-item>
  </ion-list>

  <div class="no-favorite" text-center *ngIf="favorites?.length == 0">
    <img src="assets/imgs/no_favorite.png" width="60%">
    <p class="message">Tidak Ada Produk Favorit</p>
    <button ion-button small round color="primary" (click)="addFavorite()">Mari Tambahkan Produk Favoritmu</button>
  </div>
</ion-content>
