<ion-header>
    <ion-navbar color="primary">
        <ion-title>Keranjang Belanja</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    
<div *ngIf="carts?.length == 0">
    <div class="no-transaction" text-center>
        <img src="assets/imgs/no_transaction.png" width="60%">
        <p class="message">Keranjang Belanja Anda Kosong</p>
    </div>
</div>

<div *ngIf="carts?.length > 0">
    <ion-card>
        <ion-list>
            <ion-item *ngFor="let cart of carts">
                <ion-thumbnail item-start>
                    <img src="{{imgBaseUrl}}/{{cart.img_url}}">
                </ion-thumbnail>
                <h2>{{cart.product_name}}</h2>
                <div text-left class="price">
                    {{ cart.category_name }} <br>
                    Rp {{cart.formatted_price}}
                </div>   
                <div text-right>
                    <div class="button-bar">
                        <button ion-button small outline color="dark" (click)="qtyPrompt(cart.cart_id, cart.product_id, 'decrease')"><ion-icon name="remove"></ion-icon></button>
                        <button ion-button clear medium color="dark">{{cart.qty}}</button>
                        <button ion-button small outline color="dark" (click)="qtyPrompt(cart.cart_id, cart.product_id, 'increase')"><ion-icon name="add"></ion-icon></button>
                        <button ion-button small color="danger"(click)="removePrompt(cart.cart_id, cart.product_id)" ><ion-icon name="trash"></ion-icon></button>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Punya Kupon Diskon?
        </ion-card-header>
        <ion-list>
            <ion-item>
                <ion-input type="text" name="voucher" [(ngModel)]="voucher.code" placeholder="masukkan kode kupon"></ion-input><button ion-button item-end (click)="checkVoucher()">Cek</button>
            </ion-item>
        </ion-list>
    </ion-card>
</div>

</ion-content>

<ion-footer no-border padding *ngIf="carts?.length > 0">
    <button ion-button round block (click)="goToCustomerDetail()">Lanjutkan</button>
</ion-footer>