page-order-confirmation {
    ion-list {
        ion-item {
            h2 {
                font-weight: bold;
            }

            .price {
                font-size: 12px;
                color: darkslategray;
            }
        }
    }
}
