<ion-header>

  <page-navbar-without-cart></page-navbar-without-cart>

</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment [(ngModel)]="orderAs">
    <ion-segment-button value="order">
      Order
    </ion-segment-button>
    <ion-segment-button value="history">
      History
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="orderAs">
    <div *ngSwitchCase="'order'">
      <div *ngIf="orderNew?.length > 0">
      <ion-card *ngFor="let n of orderNew; let i = index">
        <ion-item>
            <h2><strong>Order #{{n.order_id}}</strong></h2>
            <p>{{n.date}}</p>
        </ion-item>
        <ion-card-content>
            <p><strong>Category: {{n.category_name}}</strong></p>
            <p *ngFor="let item of itemOrderNew[n?.order_id][n?.category_name]; let j = index">{{item.product_name}} ({{item.qty}} items)</p>

            <div text-center><button ion-button round (click)="showConfirmTakeOrder(n.order_id, n.category_id)"><ion-icon name="checkmark"></ion-icon>&nbsp;&nbsp;Ambil Order</button></div>
        </ion-card-content>
      </ion-card>
      </div>

      <div *ngIf="orderNew?.length == 0" class="no-transaction" text-center>
        <img src="assets/imgs/no_transaction.png" width="60%">
        <p class="message">Tidak Ada Transaksi</p>
        <button ion-button small round color="primary" (click)="addOrder()">Mari Order Produk Brother</button>
      </div>

    </div>

    <div *ngSwitchCase="'history'">
      <ion-segment padding [(ngModel)]="historyStatus">
        <ion-segment-button value="progress">
          PROSES
        </ion-segment-button>
        <ion-segment-button value="cancel">
          BATAL
        </ion-segment-button>
        <ion-segment-button value="finish">
          SELESAI
        </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="historyStatus">
        <div *ngSwitchCase="'progress'">
          <div *ngIf="orderProgress?.length > 0">
            <ion-card *ngFor="let p of orderProgress; let i = index">
              <ion-item>
                <h2><strong>Order #{{p.order_id}}</strong></h2>
                <p>{{p.date}}</p>
              </ion-item>

              <ion-card-content>
                <p><strong>Category: {{p.category_name}}</strong></p>
                <p *ngFor="let item of itemOrderProgress[p?.order_id][p?.category_name]; let j = index">{{item.product_name}} ({{item.qty}} items)</p>

                <h5 padding-top="5px"><strong>Status:</strong></h5>
                <p *ngIf="p.status_progress == 'offering'">Menunggu penawaran harga dari penjual</p>
                <p *ngIf="p.status_progress == 'approval'">Menunggu persetujuan dari pembeli</p>
                <p *ngIf="p.status_progress == 'approved'">Sudah disetujui, menunggu penjual menyiapkan pesanan</p>
                <p *ngIf="p.status_progress == 'delivery order'">Pesanan sedang dalam proses persiapan dan pengiriman oleh penjual</p>
              </ion-card-content>

              <ion-row text-center>
                <ion-col>
                  <button *ngIf="p.status_progress != 'delivery order'" ion-button round color="dark" (click)="doOffering(p.order_id, p.category_id)"><ion-icon name="document"></ion-icon>&nbsp;&nbsp;Buat Penawaran</button>
                  <button *ngIf="p.status_progress == 'delivery order'" ion-button round color="dark" disabled><ion-icon name="document"></ion-icon>&nbsp;&nbsp;Buat Penawaran</button>
                </ion-col>
              </ion-row>

              <ion-row text-center>
                <ion-col>
                  <button ion-button round outline color="dark" (click)="doSerialNumber(p.order_id, p.category_id)"><ion-icon name="barcode"></ion-icon>&nbsp;&nbsp;Serial Number</button>
                </ion-col>
              </ion-row>

              <ion-row text-center>

                <ion-col>
                  <button *ngIf="p.status_progress == 'offering' || p.status_progress == 'approval'" ion-button clear icon-only color="danger" (click)="showConfirmCancel(p.order_id, p.category_id)">
                      <ion-icon name="close"></ion-icon>
                  </button>
                  <button *ngIf="p.status_progress == 'approved' || p.status_progress == 'delivery order'" disabled ion-button clear icon-only color="danger">
                    <ion-icon name="close"></ion-icon>
                  </button>
                </ion-col>

                <ion-col>
                  <button ion-button icon-only clear round color="primary" (click)="doChat(p.order_id, p.category_id, p.buyer_id)">
                    <ion-icon name="chatboxes"></ion-icon>
                  </button>
                </ion-col>

                <ion-col>
                  <button ion-button icon-only clear round color="secondary" (click)="doTelp(p.phone)">
                    <ion-icon name="call"></ion-icon>
                  </button>
                </ion-col>

              </ion-row>

              <ion-row *ngIf="p.status_progress == 'delivery order'">
                <ion-col>
                    <button ion-button block color="secondary" (click)="showConfirmCompleteOrder(p.order_id, p.category_id)"><ion-icon name="checkmark" padding-right></ion-icon>Order Selesai</button>
                </ion-col>
            </ion-row>

            </ion-card>
          </div>

          <div *ngIf="orderProgress?.length == 0" class="no-transaction" text-center>
            <img src="assets/imgs/no_transaction.png" width="60%">
            <p class="message">Tidak Ada Transaksi</p>
            <button ion-button small round color="primary" (click)="addOrder()">Mari Order Produk Brother</button>
          </div>
        </div>

        <div *ngSwitchCase="'cancel'">
          <div *ngIf="orderCancel?.length > 0">
            <ion-card *ngFor="let c of orderCancel; let i = index">
              <ion-item>
                <h2><strong>Order #{{c.order_id}}</strong></h2>
                <p>{{c.date}}</p>
              </ion-item>

              <ion-card-content>
                <p><strong>Category: {{c.category_name}}</strong></p>
                <p *ngFor="let item of itemOrderCancel[c?.order_id][c?.category_name]; let j = index">{{item.product_name}} ({{item.qty}} items)</p>

                <h5 padding-top="5px"><strong>Keterangan dibatalkan:</strong></h5>
                <p>{{c.reason}}</p>
              </ion-card-content>
            </ion-card>
          </div>

          <div *ngIf="orderCancel?.length == 0" class="no-transaction" text-center>
            <img src="assets/imgs/no_transaction.png" width="60%">
            <p class="message">Tidak Ada Transaksi</p>
            <button ion-button small round color="primary" (click)="addOrder()">Mari Order Produk Brother</button>
          </div>
        </div>

        <div *ngSwitchCase="'finish'">
          <div *ngIf="orderFinish?.length > 0">
            <ion-card *ngFor="let f of orderFinish; let i = index">
              <ion-item>
                <h2><strong>Order #{{f.order_id}}</strong></h2>
                <p>{{f.date}}</p>
              </ion-item>

              <ion-card-content>
                  <p><strong>Category: {{f.category_name}}</strong></p>
                  <p *ngFor="let item of itemOrderFinish[f?.order_id][f?.category_name]; let j = index">{{item.product_name}} ({{item.qty}} items)</p>
              </ion-card-content>
            </ion-card>
          </div>

          <div *ngIf="orderFinish?.length == 0" class="no-transaction" text-center>
              <img src="assets/imgs/no_transaction.png" width="60%">
              <p class="message">Tidak Ada Transaksi</p>
              <button ion-button small round color="primary" (click)="addOrder()">Mari Order Produk Brother</button>
            </div>
        </div>
      </div>
    </div>

  </div>

</ion-content>
