page-product {
  ion-col {
    div {
      background-color: inherit;
      border: 1px solid #ddd;
      border-radius: 2px;
      padding: 5px;
      text-align: center;
      box-shadow: 0px 2px 2px 0px #ddd;
    }
    p {
      font-size:12px;
      color: #00a9c5;
      font-weight: bold;
    }
    img {
      height: 85px;
    }
  }
}
