<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <ion-title>Registrasi</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="registerAs">
      <ion-segment-button value="customer">
        Pembeli
      </ion-segment-button>
      <ion-segment-button value="reseller">
        Penjual
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding class="card-background-page">

  <div [ngSwitch]="registerAs">
    <div *ngSwitchCase="'customer'">
      <form enctype="multipart/form-data">
        <ion-row>
          <ion-col>
              <ion-item>
                <ion-input type="text" placeholder="Nama" name="name" [(ngModel)]="customer.name"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="tel" placeholder="Nomor Ponsel" name="phone" [(ngModel)]="customer.phone"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label stacked>Kota</ion-label>
                <ion-select name="city_id" [(ngModel)]="customer.city_id">
                  <ion-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item>
                  <ion-textarea placeholder="Alamat" name="address_1" [(ngModel)]="customer.address_1" readonly value="{{ geocodeAddress }}"></ion-textarea>
                  <button ion-button clear icon-only item-end (click)="placeSearch()"><ion-icon name="search"></ion-icon></button>
              </ion-item>

              <ion-item>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16" [usePanning]='true'>
                  <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="markerMoved($event)"></agm-marker>
                </agm-map>
              </ion-item>

              <ion-item>
                  <ion-textarea placeholder="Alamat Lengkap" name="address_2" [(ngModel)]="customer.address_2"></ion-textarea>
              </ion-item>

              <ion-item>
                <ion-input type="email" placeholder="E-mail" name="email" [(ngModel)]="customer.email"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="customer.password"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="password" placeholder="Ulangi Password" name="confirm_password" [(ngModel)]="customer.confirm_password"></ion-input>
              </ion-item>

              <ion-input type="hidden" name="lat" [(ngModel)]="customer.lat" [value]="lat"></ion-input>
              <ion-input type="hidden" name="lng" [(ngModel)]="customer.lng" [value]="lng"></ion-input>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <button ion-button round block type="button" (click)="registerCustomer()">Register</button>
          </ion-col>
        </ion-row>
      </form>
    </div>

    <div *ngSwitchCase="'reseller'">
      <form enctype="multipart/form-data">
        <ion-row>
          <ion-col>
              <ion-item>
                <ion-input type="text" placeholder="Nama Toko" name="storeName" [(ngModel)]="reseller.store_name"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="text" placeholder="Nama Pemilik" name="ownerName" [(ngModel)]="reseller.name"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="tel" placeholder="Nomor Ponsel" name="phone" [(ngModel)]="reseller.phone"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label stacked>Kota</ion-label>
                  <ion-select name="city_id" [(ngModel)]="reseller.city_id">
                    <ion-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</ion-option>
                  </ion-select>
              </ion-item>

              <ion-item>
                  <ion-textarea placeholder="Alamat" name="address_1" readonly value="{{ geocodeAddress }}" [(ngModel)]="reseller.address_1"></ion-textarea>
                  <button ion-button clear icon-only item-end (click)="placeSearch()"><ion-icon name="search"></ion-icon></button>
              </ion-item>

              <ion-item>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16" [usePanning]='true'>
                  <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="markerMoved($event)"></agm-marker>
                </agm-map>
              </ion-item>

              <ion-item>
                <ion-textarea placeholder="Alamat Lengkap" name="adress_2" [(ngModel)]="reseller.address_2"></ion-textarea>
              </ion-item>

              <ion-item>
                <ion-input type="email" placeholder="E-mail" name="email" [(ngModel)]="reseller.email"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="reseller.password"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="password" placeholder="Ulangi Password" name="confirmPassword" [(ngModel)]="reseller.confirm_password"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Kategori Barang Dijual</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Printer Inkjet</ion-label>
                <ion-checkbox name="printerInkjet" [(ngModel)]="reseller.printer_inkjet"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Printer Laser</ion-label>
                <ion-checkbox name="printerLaser" [(ngModel)]="reseller.printer_laser"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Printer Label</ion-label>
                <ion-checkbox name="printerLabel" [(ngModel)]="reseller.printer_label"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Scanner</ion-label>
                <ion-checkbox name="scanner" [(ngModel)]="reseller.scanner"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Mesin Jahit</ion-label>
                <ion-checkbox name="mesinJahit" [(ngModel)]="reseller.mesin_jahit"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Lain-lain</ion-label>
                <ion-checkbox name="lainLain" [(ngModel)]="reseller.lain_lain"></ion-checkbox>
              </ion-item>

              <ion-input type="hidden" name="lat" [(ngModel)]="reseller.lat" [value]="lat"></ion-input>
              <ion-input type="hidden" name="lng" [(ngModel)]="reseller.lng" [value]="lng"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <button ion-button round block type="button" (click)="takePicture()" *ngIf="!storePhoto">Lanjutkan</button>
            <ion-card *ngIf="storePhoto">
              <img [src]="storePhoto" width="250"/>
              <div class="card-title">Store Photo</div>
            </ion-card>
            <button ion-button round block type="button" *ngIf="storePhoto" (click)="registerReseller()">Register</button>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>

</ion-content>
