// change font on app
ion-app.md {
    font-family: 'Lato', 'Open Sans' !important;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: transparent;
    box-shadow: inset 0 -1px 0 0 #dedede;
}