.page-header{
    margin: 5px 0 20px !important;
}

.navbar-default{
    background-color: #079c33d4;
}
body {
    background-color: #079c33d4;
}
.navbar-default .dropdown-menu {
    background-color: #004d00;
    color: white;
    opacity: 1;
}
a {
    color: white;
    font-size: 15px;
}
.btn-primary{
    background-color: #079c33d4;
    border-color: #079c33d4;
}

#page-wrapper{
    background-color: #eaeae1;
}
a:hover {
    color :#004d1a;
}
a.active {
    color: #004d1a;   
}