<ion-header>
  <page-navbar-without-cart></page-navbar-without-cart>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label stacked>Area</ion-label>
    <ion-select name="city_id" [ngModel]="cityid" (ngModelChange)="searchbycity($event)" cancelText="Cancel" okText="Ok">
      <ion-option value="" selected="true">ALL</ion-option>
      <ion-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-list *ngIf="servicedata?.length > 0">
    <button ion-item *ngFor="let service of servicedata">
      <!-- <ion-thumbnail item-start>
        <img src="assets/imgs/maps.png" width="80px" height="auto">
      </ion-thumbnail> -->
      <h2 text-wrap>{{service.cp_name}}</h2>
      <p text-wrap padding-top [innerHTML]="service.address"></p>
      <p text-wrap padding-top>{{service.telephone}}</p>
      <ion-icon name="pin" item-end color="primary"></ion-icon>
    </button>
  </ion-list>
  <ion-card *ngIf="servicedata?.length == 0">
    <ion-card-content>Service Center tidak ditemukan pada area ini</ion-card-content>
  </ion-card>
</ion-content>

<ion-footer no-border padding>
  <ion-row text-center>
    <ion-col>
      <button ion-button block round (click)="showWarrantyPage()">Cek Garansi</button>
      <button ion-button block round (click)="terms()">Syarat & Ketentuan</button>
    </ion-col>
  </ion-row>
</ion-footer>
